<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <!-- Bootstrap -->
    {% block stylesheets %}
        {% stylesheets '@bootstrap_less'  %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
    {% block stylesheets_layout %}
    {% endblock %}

</head>

<body>
    {% block header %}
    {% endblock %}

    {% block body %}
        {% block container %}
        {% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>